[Desktop Entry]
Name=rstrf
Comment=strf but rewrite it in rust
Type=Application
Icon=com.github.jazzpi.rstrf
Exec=rstrf %F
Terminal=false
StartupNotify=true
Categories=COSMIC
Keywords=COSMIC
MimeType=
