[Desktop Entry]
Name=rstrf
Comment=strf but rewrite it in rust
Type=Application
Icon=de.jazzpi.rstrf
Exec=rstrf %F
Terminal=false
StartupNotify=true
StartupWMClass=de.jazzpi.rstrf
MimeType=
